@charset "utf-8";

/* 
	BPA Styles Sheet
	Author: Jacob Doerge, Joey Georgio, Jacob Hughes.
	Date: 10/5/18
	
	Filename: BPA_Landmarks_styles.css

*/

/* Animation Styles */

/* Html/Body Styles */

div:not(.icon-bar) img {
	width: 90%;
	border-radius: 30px;
	padding: 1em;
	box-shadow: 1px 1px 15px black ;
}


/* Nav Styles */



/* Division Styles */
div#Wash {

}

div.row p {
	font-size: 1.5em;
	line-height: 1.4em;
	background-color: rgba(38, 117, 226, 0.8);
	padding: 1em 1em 1em 1em;
	border-radius: 5px 25px 5px 25px;
	box-shadow: 2px 2px 20px black;
}

div p {
	margin-right: 2.5em;
}

/* Footer Styles */
